body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  margin: 0%;
  padding: 0%;
  height: 100%;
  background-color: black;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btnh {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: black;
  color: White;
  border: 2px solid White;
}

.btnh:hover {
  background-color: white; /* Green */
  color: black;
}




.navbar {
    background-color: rgba(0,0,0,0.3);
    position: relative;
    z-index: 4;
}

.navbar-brand {
    /*font-weight: bold;*/
    font-size: 2.5rem;
    padding: 0%;
    margin: 0%;
}

.nav-link {
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #ffffff;
    font-weight: bold;
}

.nav-item:hover {
    color: #ffffff;
}

.col-sm-4 {
    background-color: rgba(0,0,0,0);
}

.card {
    border: 3px solid black;
    text-align: center;
}

.card-body {
    background-color: rgba(0,0,0,0.1);
}

/*
.submitBtn {
    font-size: 1.5rem;
}*/














/*HUB PAGE*/


#profileWrapper {
    display:flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
}


#userCard {
    color: white;
}

#userInfo > h1 {
    font-size:3vw;
}

/*#profilePic {

    border-radius: 50%;
    width: 80%;

}*/

#healthEtcDiv {
    margin-bottom: 5%;
}

#healthDivOuter {
    background-color: #99ff99;
}

#healthDiv {
    background-color: #00cc00;
}

#mannaDivOuter {
    background-color: #99ccff;
}

#mannaDiv {
    background-color: #1a8cff;
}

#energyDivOuter {
    background-color: #ffffb3;
}

#energyDiv {
    background-color: #ffff00;
}

#experienceDivOuter {
    background-color: #eeccff;
}

#experienceDiv {
    background-color: #bb33ff;
}

.progress {
    height: 30px;
}

.progress-bar {
    color: black;
    font-weight: bold;
}






#messageDiv {
    margin: auto;
    display: none;
    text-align: center;
}


.widgetRow {
    color: white;
}

.widgetItem {
    text-align: center;
    margin-bottom: 5%;
}




/*PVP ROOM*/

#pvpWrapper {

    border-radius: 10%;
    background-color: rgba(0,0,0,0.5);
    width: 85%;
    margin: auto;

}


#pvpTitle {

    text-align: center;
    color: white;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    padding-top: 5%;

}






/*BATTLEEVENT FIGHTING ROOM*/

#fightRoomWrapper {

    border-radius: 5%;
    background-color: rgba(0,0,0,0.3);
    width: 90%;
    margin: auto;
    margin-top: 10%;


}







@media(max-width: 575px){

    #userCard > div {
        text-align: center;
    }
}