<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>ERROR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/crusaders-wrath.css}"
          href="../../css/crusaders-wrath.css">
    <link href="https://fonts.googleapis.com/css?family=Skranji" rel="stylesheet">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
</head>
<body class="text-center">
<div class="d-flex flex-column m-auto">

    <div class="pb-5">
        <h1 style="font-family:'Skrangji', cursive" class="display-4 font-weight-bold">~PURGERS-MIGHT~</h1>
    </div>

    <div class="mt-5">
        <img src="../images/opps.gif" width="500" height="300">
    </div>

    <div>
        <a href="../login" class=" btn btn-lg btn-block btnh w-50 m-auto h3 font-weight-bold" name="createAccount">Go back
            to login page</a>
    </div>

</div>
</body>
</html>