<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Skranji" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/crusaders-wrath.css}"
          href="../../css/crusaders-wrath.css"/>
</head>
<body>
<!--<h1 th:text="${avatar.sender}"></h1>-->
<!--<h1 th:object="${avatar}"></h1>-->
<script th:inline="javascript">
/*<![CDATA[*/


    var avatar = /*[[${avatar}]]*/ null;

    sessionStorage.setItem("avatar", JSON.stringify(avatar));

    console.log(avatar)

/*]]>*/

</script>


<div class="m-auto w-100 px-5">
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="http://localhost:8080/home" style="font-family:'Skrangji', cursive">~PURGERS-MIGHT~</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav mr-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div id="profileWrapper">

        <div id="userCard">
            <div id="imgDiv" class="m-auto w-40">
                <img id="profilePic" class="d-flex m-auto w-60"/>
            </div>
        </div>

        <div id="userInfo" class="m-auto text-center">
            <h1 id="userName" name="username"></h1>
            <h1 id="userLevel" name="level"></h1>
            <h1 id="kenjaPoints" name="kenjaPoints"></h1>
        </div>

        <div id="healthEtcDiv" class="row p-3">
            <div id="healthDivOuter" class="progress m-1 p-0 col-sm">
                <div id="healthDiv" class="progress-bar"><p id="healthTag" class="p-0 m-0" name="healthText"></p></div>
            </div>
            <div id="mannaDivOuter" class="progress m-1 p-0 col-sm">
                <div id="mannaDiv" class="progress-bar"><p id="mannaTag" class="p-0 m-0" name="mannaText"></div>
            </div>
            <div id="experienceDivOuter" class="progress m-1 p-0 col-sm">
                <div id="experienceDiv" class="progress-bar"><p id="experienceTag" class="p-0 m-0" name="experienceText"></div>
            </div>
        </div>

        <div id="messageDiv" class="m-auto text-white border-white">
            <h3 id="messageHTag"></h3>
            <div class="btn-group" role="group">
                <button id="acceptInvite" class="buttonX p-2 m-2">YES</button>
                <button id="refuseInvite" class="buttonX p-2 m-2">NO</button>
            </div>
        </div>

        <div id="itemDisplay" class="mb-5">
        </div>

        <div class="widgetRow row">
            <div id="restoreHealthDiv" class="widgetItem col-sm-4">
                <h6>RESTORE HEALTH</h6>
                <input type="image"
                       src="../images/restoreHealth.png"
                       name="healthBtn" width="60" height="60" id="healPlayerBtn">
            </div>
            <div id="restoreMannaDiv" class="widgetItem col-sm-4">
                <h6>RESTORE MANNA</h6>
                <input type="image" src="../images/restoreManna.png"
                       name="mannaBtn" width="60" height="60" id="restoreMannaBtn">
            </div>
            <div id="pvpDiv" class="widgetItem col-sm-4">
                <h6>PVP</h6>
                <input type="image" src="../images/pvpBtn.png"
                       name="pvpBtn" width="60" height="60" id="pvpBtn">
            </div>
        </div>

        <div class="widgetRow row">
            <div id="upgradeAttributesDiv" class="widgetItem col-sm-4">
                <h6>UPGRADE ATTRIBUTES</h6>
                <input type="image" src="../images/upgradeAttributes.png"
                       name="upgradeAttributes" width="60" height="60" id="attributesBtn">
            </div>
            <div id="bagDiv" class="widgetItem col-sm-4">
                <h6>BAG</h6>
                <input type="image" src="../images/bag1.png" name="bagBtn"
                       width="60" height="60" id="bagBtn">
            </div>
            <div id="armourDiv" class="widgetItem col-sm-4">
                <h6>ARMOUR</h6>
                <input type="image" src="../images/armour1.png" name="armourBtn"
                       width="60" height="60" id="armourBtn">
            </div>
        </div>


        <div class="widgetRow row">
            <div id="abilitiesDiv" class="widgetItem col-sm-4">
                <h6>SPELL BOOK</h6>
                <input type="image"
                       src="../images/spellBook.png"
                       name="spellBookBtn" width="60" height="60" id="spellBtn">
            </div>
            <div id="battleReceipts" class="widgetItem col-sm-4">
                <h6>BATTLE RECEIPTS</h6>
                <input type="image" src="../images/receipt1.png"
                       name="battleReceiptsBtn" width="60" height="60" id="battleReceiptsBtn">
            </div>
            <div id="leaderBoardDiv" class="widgetItem col-sm-4">
                <h6>LEADER BOARD</h6>
                <input type="image" src="../images/leaderBoard1.png"
                       name="leaderBoardBtn" width="60" height="60" id="leaderBoardBtn">
            </div>
        </div>

        <div class="widgetRow row">
            <div id="battleStatsDiv" class="widgetItem col-sm-4">
                <h6>BATTLE STATS</h6>
                <input type="image" src="../images/battleStats.png"
                       name="battleStatsBtn" width="60" height="60" id="battleStatsBtn">
            </div>
            <div id="weaponDiv" class="widgetItem col-sm-4">
                <h6>WEAPON</h6>
                <input type="image" src="../images/weapon1.png" name="weaponBtn"
                       width="60" height="60" id="weaponBtn">
            </div>
            <div id="chatRoomDiv" class="widgetItem col-sm-4">
                <h6>CHAT ROOM</h6>
                <input type="image" src="../images/chat1.png"
                       name="chatRoomImage" width="70" height="60" id="chatRoomBtn">
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" th:src="@{/js/home.js}"></script>

</body>
</html>