<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Leader board</title>
    <link href="https://fonts.googleapis.com/css?family=Skranji" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/crusaders-wrath.css}"
          href="../../css/crusaders-wrath.css"/>
</head>
<body>

<div class="d-flex m-auto flex-column w-60">

    <div class="mt-5 mb-3 pb-3">
        <h1>LEADER BOARD</h1>
    </div>

    <div class="backToUserProfileDiv">
        <button id="backToUserProfileBtn" class="btn btn-lg btn-block btnh mb-5 p-2">BACK TO PROFILE</button>
    </div>

    <div>
        <button id="next20" class="btn btn-lg btn-block btnh mb-5 p-2">NEXT 20</button>
    </div>

    <div>
        <button id="previous20" class="btn btn-lg btn-block btnh mb-5 p-2">PREVIOUS 20</button>
    </div>

    <div id="leaderBoardDiv"></div>

</div>
<script type="text/javascript" th:src="@{/js/leaderboard.js}"></script>
</body>
</html>