<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Upgrade Attributes</title>
    <link href="https://fonts.googleapis.com/css?family=Skranji" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/crusaders-wrath.css}"
          href="../../css/crusaders-wrath.css"/>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
<div class="m-auto w-100 px-5">

    <div class="row text-white mt-2">
        <div class="col-sm-4">
            <h2 style="font-family:'Skrangji', cursive">~PURGERS-MIGHT~</h2>
        </div>
        <div class="col-sm-4">
            <a class="h4" href="../home">Home</a>
        </div>
        <div class="col-sm-4">
            <a class="h4" href="../logout">Logout</a>
        </div>
    </div>


    <div id="upgradeAttributesWrapper" class="d-flex flex-column m-auto">
        <div id="userInfo" class="m-auto text-center">
            <div id="imgDiv" class="m-auto w-40">
                <img id="profilePic" class="d-flex m-auto w-60"/>
            </div>
            <br>
            <h1 id="userName" name="username"></h1>
            <br>
            <h1 id="userLevel" name="level"></h1>
            <br>
            <h1 id="kenjaPoints" name="kenjaPoints"></h1>
        </div>
        <div id="healthEtcDiv" class="row p-3">
            <div id="healthDivOuter" class="progress m-1 p-0 col-sm">
                <div id="healthDiv" class="progress-bar"><p id="healthTag" class="p-0 m-0" name="healthText"></p></div>
            </div>
            <div id="mannaDivOuter" class="progress m-1 p-0 col-sm">
                <div id="mannaDiv" class="progress-bar"><p id="mannaTag" class="p-0 m-0" name="mannaText"></div>
            </div>
            <div id="experienceDivOuter" class="progress m-1 p-0 col-sm">
                <div id="experienceDiv" class="progress-bar"><p id="experienceTag" class="p-0 m-0"
                                                                name="experienceText"></div>
            </div>
        </div>

        <div class="d-flex flex-row m-auto mb-5 pb-5 w-80">
            <div id="healthAttributeDiv" class="m-auto text-center mx-5 px-5 col-sm-6">
                <p class="py-5">HEALTH</p>
                <button id="increaseHealthBtn" class="btn btn-lg btn-block btnh w-100 m-auto">+</button>
                <button id="decreaseHealthBtn" class="btn btn-lg btn-block btnh w-100 m-auto mb-5">-</button>
            </div>
            <div id="mannaAttributeDiv" class="m-auto text-center mx-5 px-5 col-sm-6">
                <p class="py-5">MANNA</p>
                <button id="increaseMannaBtn" class="btn btn-lg btn-block btnh w-100 m-auto">+</button>
                <button id="decreaseMannaBtn" class="btn btn-lg btn-block btnh w-100 m-auto">-</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" th:src="@{/js/upgrade-attributes.js}"></script>
</body>
</html>